var CommentBox = React.createClass({
  handleCommentSubmit: function(event) {
    this.state.data.push(<Comment author="Tonald Drump">Blah blah</Comment>)
  },
  getInitialState: function() {
    return {data: []};
  },
  render: function() {
    return (
      <div className="commentBox">
        <h1>Comments</h1>
        <CommentList data={this.state.data} />
        <button onClick={this.handleButtonClick}>Press Me!</button>
      </div>
    );
  }
});
